body{
    font-size: 15px;
    
    
}

h2{
    font-family: "big shoulders display", sans-serif ;
    font-size: 3rem;
   text-transform: uppercase;
   color: white;
}

p,
button {
    font-family: "lexend deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
    
}

#container{
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 150px auto;
    flex-wrap: wrap;


}

.item{
    padding: 60px;
    width: 20%;
    
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button{
    border: 1px solid white;
    width: 160px;
    padding: 12px 16px;
    border-radius: 50px;
    background-color: hsla(0, 0%, 100%, 0);
    color: white;
    margin-top: 80px;

}

button:hover {
    background-color: white;
    color: black;
}

.sedans > button:hover {
    background-color: white;
    color: hsl(31, 77%, 52%);
}

.suvs > button:hover {
    background-color: white;
    color: hsl(184, 100%, 22%);
}

.suvs > button:hover {
    background-color: white;
    color: hsl(179, 100%, 13%);
}


@media screen  and (max-width: 1000px){

    .item{
        padding: 60px;
        width: 50%;
        
    }


}

@media screen  and (max-width: 1293px){

    #container{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 20px auto;
        flex-wrap: wrap;
    
    
    }

    .item{
        padding: 60px;
        width: 50%;
        
    }

    .sedans{
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .luxury{
        background-color: hsl(179, 100%, 13%);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0px;
        width: 50%;
    }

}


